body {
    margin: 0;
}
p {
    margin-right: 40px;
}
h1 {
    margin: 0px 300px;
    text-align: center;
    font-size: 1.8em;
    line-height: 1.2;
    padding: 0;
}
button.redondo {
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    padding: 0px 20px;
    height: 32px;
}

.full-screen{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.letra-blanca{
    color:#ffffff;
}

div#introduction-actions {
    display: flex;
    justify-content: center;
}

#introduction {
    background-position: center center;
    background-repeat: no-repeat;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    padding-top: 70px;
    margin-top: 0px;
    padding-right: 30px;
    padding-bottom: 70px;
    margin-bottom: 0px;
    padding-left: 30px;
}

#impacto{
    background-color: #201B24;
    background-position: center center;
    background-repeat: no-repeat;
    border-width: 0px 0px 0px 0px;
    border-color: #d9d9d9;
    border-style: 30px;
    padding-top: 120px;
    margin-top: 0px;
    padding-right: 30px;
    padding-bottom: 100px;
    margin-bottom: 0px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
}

#impacto-centro{
    max-width: 1248px;
    margin-left: calc(-4% / 2 );
    margin-right: calc(-4% / 2 );
    padding-left: 0px;
    padding-right: 0px;
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    position: relative;
    z-index: 10;
    margin: 0 auto;
    box-sizing: border-box;
}

#impacto-centro-columna1{
    display: flex;
    width: 16,666666666667% !important;
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;
    float: left;
    box-sizing: border-box;
}

#impacto-centro-columna2{
    width: 33,333333333333% !important;
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;
    float: left;
    box-sizing: border-box;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    display: flex;
    padding-top: 0px !important;
    padding-right: 50px !important;
    margin-right: 0px;
    padding-bottom: 0px !important;  
    padding-left: 0px !important;
    margin-left: 0px;
}

#impacto-centro-columna3{
    display: flex;
    width: 33,333333333333% !important;
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;
    float: left;
    box-sizing: border-box;
}

#impacto-centro-columna3-1 {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    display: flex;
    width: 100%;
    padding-top: 0px !important;
    padding-right: 0px !important;
    margin-right: 5.76%;
    padding-bottom: 0px !important;  
    padding-left: 0px !important;
    margin-left: 5.76%;
}

#impacto-centro-columna3-2 {
    margin-left: -7px;
    margin-right: -7px;
    clear: both;
    box-sizing: border-box;
    display: block;
}

.impacto-centro-columna3-3 {
    padding: 0 7px;
    margin-bottom: 14px;
    text-align: center;
    box-sizing: border-box;
    width: 33,33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    display: block;
}

.impacto-centro-columna3-4 {
    border: 1px solid rgba(32, 27, 36, 0);
    padding: 10px;
    box-sizing: border-box;
    display: block;
    text-align: center;
}

.impacto-columna3-span {
    color: #ffffff;
    font-size: 50px;
    line-height: normal;
    display: block;
    text-align: center;
}

.impacto-columna3-div {
    color: #8c939c;
    font-size: 14px;
    display: block;
    text-align: center;
}

.impacto-columna3-span-1 {
    vertical-align: middle;
    font-weight: 700;
    box-sizing: border-box;
}
.impacto-columna3-span-2 {
    vertical-align: middle;
    font-size: 30px;
    color: #6b53f0;
}

#impacto-centro-columna4{
    display: flex;
    width: 16,666666666667% !important;
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;
    float: left;
    box-sizing: border-box;
}

#impacto-columna2-h2 {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    display: block;
    box-sizing: border-box;
    color: #ffffff;
}

#impacto-columna2-p {
    box-sizing: border-box;
    display: block;
    color: #ffffff;
}

#imagen {
    background-color: rgba(255, 255, 255, 0);
    background-image: url("https://technologywithpurpose.org/wp-content/uploads/2022/11/twp-home.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    border-width: 0px;
    border-color: #d9d9d9;
    border-style: solid;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - 80px);
    padding-top: 0px;
    margin-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;  
    margin-bottom: 0px;
    padding-left: 30px;
    margin-left: var(-30px);
    margin-right: var(-30px);
    display: flex;
    justify-content: hidden;
    backface-visibility: hidden;
    z-index: 1;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}   

#programas {
    box-sizing: border-box;
    display: block;
}

.programas-div1 {
    background-color: rgba(255, 255, 255, 0);
    background-position: center center;
    background-repeat: no-repeat;
    border-width: 0px 0px 0px 0px;
    border-color: #d9d9d9;
    border-style: solid;
    padding-top: 60px;
    margin-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;  
    margin-bottom: 0px;
    padding-left: 30px;
    margin-left: var(-30px);
    margin-right: var(-30px);
    display: flex;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

#programas-div2 {
    max-width: 1248px;
    margin-left: calc(-4% / 2 );
    margin-right: calc(-4% / 2 );
    padding-left: 0px;
    padding-right: 0px;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    position: relative;
    z-index: 10;
    margin: 0 auto;
    box-sizing: border-box;
}

#programas-div3 {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    display: flex;
    width: 100%;
    padding-top: 0px !important;
    padding-right: 0px !important;
    margin-right: 1.92%;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    margin-left: 1.92%;
    min-height: 1px;
    justify-content: flex-start;
    box-sizing: border-box;
}

#programas-div4 {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    display: block;
    box-sizing: border-box;
}

#programas-div4-h2 {
    margin: 0px;
    --fontSize: 30;
    line-height: 1.2;
    font-size: var(30px);
    padding: 0;
    text-align: left;
    color: #201B24
}

#programas1-div1 {
    max-width: 1248px;
    margin-left: calc(-4% / 2 );
    margin-right: calc(-4% / 2 );
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    position: relative;
    z-index: 10;
    margin: 0 auto;
    box-sizing: border-box;
}

.programas1-div2 {
    display: flex;
    width: 50% !important;
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;
    float: left;
    box-sizing: border-box;
}

.programas1-div2-img {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    display: flex;
    width: 100%;
    padding-top: 0px !important;
    padding-right: 0px !important;
    margin-right: 3.84%;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    margin-left: 3.84%;
    min-height: 1px;
    justify-content: flex-start;
    box-sizing: border-box;
}

#programas1-div2-img-span {
    border-radius: 0 40px 40px 40px;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    max-width: 100%;
    line-height: 1;
    box-sizing: border-box;
}

#programas1-div2-img-span-img {
    vertical-align: top;
    box-shadow: none!important;
    border-style: none;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    width: 1920px;
    aspect-ratio: auto 1920 / 1280;
    overflow-clip-margin: content-box;
    overflow: clip;
    line-height: 1;
}

.programas1-div2-text {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    display: flex;
    width: 100%;
    padding-top: 0px !important;
    padding-right: 50px !important;
    margin-right: 3.84%;
    padding-bottom: 0px !important;
    padding-left: 50px !important;
    margin-left: 3.84%;
    min-height: 1px;
    justify-content: flex-start;
    box-sizing: border-box;
}

#programas1-div2-text-title {
    box-sizing: border-box;
    display: block;
}

.programas1-div2-text-p {
    margin-right: 5px;
    box-sizing: border-box;
    display: block;
}

.programas1-div2-text-a {
    box-sizing: border-box;
    display: block;
}

#programas1-div2-text-title-span {
    max-width: 200px;
    margin-bottom: 15px;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    box-sizing: border-box;
}

#programas1-div2-text-title-span-img {
    vertical-align: top;
    box-shadow: none!important;
    border-style: none;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    width: 360px;
    aspect-ratio: auto 360 / 77;
    overflow-clip-margin: content-box;
    overflow: clip;
    line-height: 1;
}

.programas1-div2-text-p-1 {
    margin-top: 0;
    margin-bottom: 20px;
    margin: 0 0 20px;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.programas-div2 {
    background-color: rgba(255, 255, 255, 0);
    background-position: center center;
    background-repeat: no-repeat;
    border-width: 0px 0px 0px 0px;
    border-color: #d9d9d9;
    border-style: solid;
    padding-top: 0px;
    margin-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;  
    margin-bottom: 0px;
    padding-left: 30px;
    margin-left: var(-30px);
    margin-right: var(-30px);
    display: flex;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

#programas1-div2-img-span2-img2 {
    vertical-align: top;
    box-shadow: none!important;
    border-style: none;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    width: 1920px;
    aspect-ratio: auto 1920 / 1280;
    overflow-clip-margin: content-box;
    overflow: clip;
    line-height: 1;
}

#programas1-div2-img-span2 {
  border-radius: 40px 40px 0 40px;
  display: inline-block;
  z-index: 1;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  max-width: 100%;
  line-height: 1;
  box-sizing: border-box;
}

#programas1-div2-text-title-h4 {
    margin: 0px;
    --fontSize: 22;
    line-height: 1.2;
    padding: 0;
    text-align: left;
    --side_header_width: 0;
    --side_header_width-int: 0;
}

#programas1-div2-text-title2 {
    margin-top: 10px!important;
    margin-right: 0px!important;
    margin-bottom: 15px!important;
    margin-left: 0px!important;
    display: block;
    box-sizing: border-box;
}